<h1>Current settings:</h1><br />
<% @settings.each do |s| %>
<p>
<%= best_in_place s, :name %> - <%= link_to "Edit", edit_setting_url(s) %> %>
</p>
<p>
<%= best_in_place s, :value, type: :textarea %>
</p>
<% end %>

<%= link_to "Back", root_url %>

