<div class='row resume-page'>

  <div class='small-1 large-2 columns'>
  </div>

  <div class='small-10 small-offset-1 large-8 large-offset-2 columns'>

    <%= link_to root_path do %>
      <h1 class='resume-header'>Vincent Cabansag</h1>
    <% end %>

    <h5 class='subheader'>
      <p>
        I'm a developer, designer and entrepreneur who excels at managing projects from beginning to end.
        My experience spans operations, education, real estate, compliance, marketing, web development,
        information technology and business development.
      </p>
      <p>
        As of July 10, 2015, I'm looking for a growing company where I can add value, join a team for the
        long-haul and do my best work to date. My ideal outcome &mdash; lead a team in the role of a COO or CTO.
      </p>
    </h5>

    <h4>Contact me</h4>
    <ul class="no-bullet">
      <li>Email me at <%= mail_to 'vcabansag@gmail.com' %> or call me at (312) 546-3985</li>
    </ul>

    <h4>Experience</h4>

    <h6>The Starter League</h6>
    <p>
      <em>Director of Operations, Chicago, IL, 2011 &mdash; 2015</em>
    </p>
    <p>
      <%= link_to 'The Starter League', 'http://www.starterleague.com/' %> is a school that
      teaches people how to code, design and build web applications. It's the first of its
      kind and I was part of the inaugural class. I loved it so much, that I joined the founders
      in January 2012 to help scale operations. I'm proud to have helped the company rebrand itself,
      relocate to a new workspace, and become a licensed school with the Illinois Board of Higher
      Education.
    </p>

    <p>
      Here's what I did on any given day:
    </p>

    <ul class="push-1">
      <li>led team meetings and stand-ups,</li>
      <li>managed financials with the company's controller,</li>
      <li>created and streamlined processes,</li>
      <li>recruited and developed talent,
      <li>hired and on-boarded personnel,</li>
      <li>supervised facility management,</li>
      <li>helped with change management,</li>
      <li>maintained information technology systems,</li>
      <li>oversaw curriculum and academic planning for Starter League classes,</li>
      <li>led product development as a developer, designer, and project manager,</li>
      <li>consulted with legal counsel for compliance and risk management,</li>
      <li>and developed partnerships with primary and post-secondary schools.</li>
    </ul>

    <h6>Chicago Apartment Finders</h6>
    <p>
      <em>Managing Broker, Chicago, IL, 2005 &mdash; 2011</em>
    </p>
    <p>
      <%= link_to 'Chicago Apartment Finders', 'http://www.chicagoapartmentfinders.com/' %>
      is an apartment broker known for its iconic marketing and boutique service. I started as
      an agent and quickly moved in management. As a Managing Broker, I trained agents,
      helped close transactions, and was responsible for two branch offices.
      I'm proud to have pioneered the use of HTML-based craigslist ads. I later helped the
      company automate that process with software. I also educated hundreds of landlords on
      the pitfalls of Chicago's landlord tenant ordinance. I was part of a committee with
      the Chicago Association of REALTORS that drafted and distributed a compliant lease
      to over 8,000 agents.
    </p>
    <p>
      Here's what I did on any given day:
    </p>
    <ul class="push-1">
      <li>trained new agents on best practices, the MLS and digital marketing,</li>
      <li>coached agents on contracts, negotations, prospecting and risk management,</li>
      <li>consulted with founders on brokerage projects,</li>
      <li>managed payroll for sales commissions,</li>
      <li>maintained compliance with rapidly changing State and local laws,</li>
      <li>and built relationships with landlords and property management companies.</li>
    </ul>

    <h6>Trader, Self-Employed</h6>
    <p>
      <em>Options Trader, Chicago, IL, 2001 &mdash; 2004</em>
    </p>
    <p>
      As self-employed trader, I generated my own income as an options and day trader.
      Here's what I did on any given day:
    </p>
    <ul class='push-1'>
      <li>traded options and stock with personal capital,</li>
      <li>formulated long-term liquidity strategies,</li>
      <li>analyzed market data and considered alternative positions,</li>
      <li>and developed mitigation activities to hedge risk,</li>
    </ul>

    <h4>Education</h4>

    <h6>University of Michigan, Ann Arbor, Michigan</h6>
    <p>
      <em>Bachelor of Science of Economics, 1997 &mdash; 2001</em>
    </p>

    <h4>Skills</h4>

    <h6>Instruction</h6>

    <h6>Speaking</h6>

    <h6>Project Management</h6>

    <h6>Content Creation</h6>
    <ul class='push-1'>
      <li>Extensive graphic design skills with Adobe Illustrator and Adobe Photoshop</li>
      <li>Can create custom fillable forms with Adobe Acrobat and Adobe LiveCycle</li>
      <li>Produce sophisticated documents and presentation with Microsoft Word and Microsoft PowerPoint</li>
    </ul>

    <h6>Data and Programming</h6>
    <ul class='push-1'>
      <li>Highly proficient in Microsoft Excel spreadsheet creation, manipulation and complex calculations</li>
      <li>HTML programming language proficiency</li>
    </ul>

  </div>

  <div class='small-1 large-2 columns'></div>

</div>
