<%= link_to root_path do %>
  <h1>Vincent Cabansag</h1>
<% end %>

<h2>Information</h2>
<li>1502 Laura Ave, Mount Pleasant, Wisconsin 53406</li>
<li>(312) 404-4445</li>
<li>vcabansag@gmail.com</li>
<li>http://about.me/vwc</li>


<h2>Objective</h2>
To find a long-term position with a growing company where I can use my professionalism,
initiative, leadership, experience and entrepreneurial spirit.

<h2>Experience</h2>
<h3>Chicago Apartment Finders, Chicago, Illinois</h3>
Managing Broker, 2007 - Present 
<ul>
  <li>Train new agents on brokerage practices, the MLS and the proper use of craigslist</li>
  <li>Coach agents on contracts, negotations, prospecting and risk management</li>
  <li>Review and rewrite company policies to reduce liability and ensure compliance with changing laws</li>
  <li>Consultant for brokerage projects ▪ Responsible for sales commissions payroll accounting</li>
  <li>Extensive property management experience and trust estate planning</li>
</ul>

<h3>Salesperson / Broker Associate, 2005 - 2007</h3>

<ul>
  <li>Worked as a buyer’s agent for the purchase of residential real estate</li>
  <li>Assisted renters in finding apartments and worked with landlords to help rent their property</li>
  <li>Conducted corporate relocations for executives and employees of large companies</li>
</ul>

<h3>Trader, Self-Employed, Chicago, Illinois</h3
Options Trader, 2001 - 2004
<ul>
  <li>Actively traded private capital for speculation and investment</li>
  <li>Concentrated on capital preservation to minimize loss and promote long-term growth</li>
  <li>Created short-term and long-term growth utilizing fundamental and technical analyses</li>
</ul>

<h2>Education & Licensing</h2>

<h3>Licensed Real Estate Broker</h3>
Licensed by the Illinois Department of Financial and Professional Regulation and in good standing.

<h3>DeVry University, Chicago, Illinois<h3>
Computer Information Systems, Web Development &amp; Administration, 2011 - Present

<h3>University of Michigan, Ann Arbor, Michigan</h3>
Bachelor of Science of Economics, 1997 - 2001

<h2>Content Creation</h2>
<ul>
  <li>Extensive graphic design skills with Adobe Illustrator and Adobe Photoshop</li>
  <li>Can create custom fillable forms with Adobe Acrobat and Adobe LiveCycle</li>
  <li>Produce sophisticated documents and presentation with Microsoft Word and Microsoft PowerPoint</li>
</ul>

<h2>Data and Programming</h2>
<li>Highly proficient in Microsoft Excel spreadsheet creation, manipulation and complex calculations</li>
<li>HTML programming language proficiency</li>












