<div class='row resume-page'>

  <div class='small-1 large-2 columns'>
  </div>

  <div class='small-10 small-offset-1 large-8 large-offset-2 columns'>

    <h1>Vincent Cabansag</h1>

    <h5 class='subheader'>
      <p>
        I'm a developer, designer and entrepreneur who excels at managing projects from beginning to end.
        My experience spans operations, education, real estate, compliance, sales, marketing, web development,
        IT and business development.
      </p>
      <p>
        As of July 10, 2015, I'm looking for a growing company where I can add value.
        and do my best work to date.
      </p>
      <p>
        My ideal outcome &mdash; lead a team in the role of a COO or CTO.
      </p>
    </h5>

    <h4>Contact me</h4>
    <p>Email me at <%= mail_to 'vcabansag@gmail.com' %> or call me at (312) 546-3985.</p>

    <h4>Skills</h4>

    <div class='row'>
      <div class='small-6 large-6 columns'>
        <h6>Leadership</h6>
        <p>
          I bring out the best in my team members. I lead by example and know how to
          <a href='https://kinhr.com/testimonials/'>create a workplace</a>
          that's effective, lean and result-oriented.
        </p>

        <h6>Entrepreneurship</h6>
        <p>
          I've helped two early-stage companies scale their operations over the past decade.
          I know what it takes to start a company and keep it going.
        </p>
      </div>
      <div class='small-6 large-6 columns'>

        <h6>Project Management</h6>
        <p>
          I've led projects that range from real estate, compliance, IT,
          and web development. I know how to develop effective work relationships that drive results.
        </p>

        <h6>Creation</h6>
        <p>
          I have the skills to design a web application and write the code to make it real.
          I know how to write effective copy and I'm a
          <a href='https://instagram.com/vcabansag/'>natural with a camera</a>.
        </p>
      </div>
    </div>

    <h4>Experience</h4>

    <h6>The Starter League</h6>
    <p>
      <em>Director of Operations, Chicago, IL, 2011 &mdash; 2015</em>
    </p>
    <p>
      <%= link_to 'The Starter League', 'http://www.starterleague.com/' %> is a school that
      teaches people how to code, design and build web applications. It's the first of its
      kind and I was part of the inaugural class. I loved it so much, that I joined the founders
      in January 2012 to help scale operations. I'm proud to have helped the company rebrand itself,
      relocate to a new workspace, and become a licensed school with the Illinois Board of Higher
      Education.
    </p>

    <p>
      Here's what I did on any given day:
    </p>

    <ul class="push-1">
      <li>led team meetings and stand-ups,</li>
      <li>managed financials with the company's controller,</li>
      <li>created and streamlined processes,</li>
      <li>recruited and developed talent,
      <li>hired and on-boarded personnel,</li>
      <li>supervised facility management,</li>
      <li>helped with change management,</li>
      <li>maintained information technology systems,</li>
      <li>oversaw curriculum and academic planning for Starter League classes,</li>
      <li>led product development as a developer, designer, and project manager,</li>
      <li>consulted with legal counsel for compliance and risk management,</li>
      <li>and developed partnerships with primary and post-secondary schools.</li>
    </ul>

    <h6>Chicago Apartment Finders</h6>
    <p>
      <em>Managing Broker, Chicago, IL, 2005 &mdash; 2011</em>
    </p>
    <p>
      <%= link_to 'Chicago Apartment Finders', 'http://www.chicagoapartmentfinders.com/' %>
      is an apartment broker known for its iconic marketing and boutique service. I started as
      an agent and quickly moved in management. As a Managing Broker, I trained agents,
      helped close transactions, and was responsible for two branch offices.
      I'm proud to have pioneered the use of HTML-based craigslist ads. I later helped the
      company automate that process with software. I also educated hundreds of landlords on
      the pitfalls of Chicago's landlord tenant ordinance. I was part of a committee with
      the Chicago Association of REALTORS that drafted and distributed a compliant lease
      to over 8,000 agents.
    </p>
    <p>
      Here's what I did on any given day:
    </p>
    <ul class="push-1">
      <li>trained new agents on best practices, the MLS and digital marketing,</li>
      <li>coached agents on contracts, negotations, prospecting and risk management,</li>
      <li>consulted with founders on brokerage projects,</li>
      <li>managed payroll for sales commissions,</li>
      <li>maintained compliance with rapidly changing State and local laws,</li>
      <li>and built relationships with landlords and property management companies.</li>
    </ul>

    <h6>Day Trader</h6>
    <p>
      <em>Options Trader, Chicago, IL, 2001 &mdash; 2004</em>
    </p>
    <p>
      As a self-employed day trader, I generated my own income trading options and stocks.
      On any given day, I executed trades, analyzed market data for
      alternative positioning, formulated long-term liquidity strategies,
      and developed mitigation activities to hedge risk.
    </p>

    <h4>Education</h4>

    <h6>University of Michigan, Ann Arbor, Michigan</h6>
    <p>
      <em>Bachelor of Science, Economics, 1997 &mdash; 2001</em>
    </p>

    <h6>DeVry University</h6>
    <p>
      <em>Computer Information Systems, Web Development & Administration, 2011</em>
    </p>

  </div>

  <div class='small-1 large-2 columns'></div>

</div>

<br>
<br>
<br>
<br>
