<div class='row resume-page'>

  <div class='small-1 large-2 columns'>
  </div>

  <div class='small-10 small-offset-1 large-8 large-offset-2 columns'>

    <h1>Vincent Cabansag</h1>

    <h5 class='subheader'>
      <p>
        I'm a developer, designer and entrepreneur who excels at managing projects from beginning to end.
        My experience spans operations, education, real estate, compliance, sales, marketing, web development,
        IT and business development.
      </p>
      <p>
        As of July 10, 2015, I'm looking for a growing company where I can add value
        and do my best work to date.
      </p>
      <p>
        My ideal outcome is to lead a team in the role of a COO or CTO.
      </p>
    </h5>

    <h4>Contact me</h4>
    <p>Email me at <%= mail_to 'vcabansag@gmail.com' %> or call me at (312) 546-3985.</p>

    <h4>Skills</h4>

    <h6>Leadership</h6>
    <p>
      When I lead a team, I bring out the best in them by setting clear
      expectations, measurable goals and understanding their capabilities.
    </p>

    <h6>Entrepreneurship</h6>
    <p>
      I've helped two early-stage companies scale their operations over the past decade.
      I know how to create a workplace that's lean, resourceful and feedback-oriented.
    </p>

    <h6>Project Management</h6>
    <p>
      I've led projects that range from real estate, compliance, IT,
      and web development. I know to develop work relationships that are effective and results-driven.
    </p>

    <h6>Creation</h6>
    <p>
      I have the technical skills to design, code and ship a web application.
      I strive to be a better writer and I have the skill to take professional quality photos.
    </p>

    <h4>Experience</h4>

    <h6>The Starter League</h6>
    <p>
      <em>Director of Operations, Chicago, IL, 2011 &mdash; 2015</em>
    </p>
    <p>
      <%= link_to 'The Starter League', 'http://www.starterleague.com/' %> is a school that
      teaches people how to code, design and build web applications. It's the first of its
      kind and I was part of the inaugural class. I loved it so much, that I joined the founders
      in January 2012 to help scale operations. I'm proud to have helped the company rebrand itself,
      relocate to a new workspace and become a licensed school with the Illinois Board of Higher
      Education.
    </p>

    <p>
      Here's what I did on any given day:
    </p>

    <ul class="push-1">
      <li>led team meetings and stand-ups</li>
      <li>managed financials with the company's controller</li>
      <li>created and streamlined processes</li>
      <li>recruited and developed talent
      <li>hired and on-boarded personnel</li>
      <li>supervised facility management</li>
      <li>helped with change management</li>
      <li>maintained information technology systems</li>
      <li>oversaw curriculum and academic planning for 3-month classes</li>
      <li>led product development as a developer, designer and project manager</li>
      <li>consulted with legal counsel for compliance and risk management</li>
      <li>developed partnerships with primary and post-secondary schools</li>
    </ul>

    <h6>Chicago Apartment Finders</h6>
    <p>
      <em>Managing Broker, Chicago, IL, 2005 &mdash; 2011</em>
    </p>
    <p>
      <%= link_to 'Chicago Apartment Finders', 'http://www.chicagoapartmentfinders.com/' %>
      is an apartment broker known for its iconic marketing and boutique service. I started as
      an agent and quickly moved into management. As a Managing Broker, I trained agents,
      helped close transactions and was responsible for two branch offices.
      I'm proud to have pioneered the use of HTML-based craigslist ads, which I later helped the
      company automate with software. I also educated hundreds of landlords on
      the pitfalls of the Chicago landlord tenant ordinance. I was part of a committee with
      the Chicago Association of REALTORS that drafted and distributed a compliant lease
      to over 8,000 agents.
    </p>
    <p>
      Here's what I did on any given day:
    </p>
    <ul class="push-1">
      <li>trained new agents on best practices, the MLS and digital advertising</li>
      <li>coached agents on contracts, negotations, prospecting and risk management</li>
      <li>helped founders with business development</li>
      <li>managed payroll for sales commissions</li>
      <li>maintained compliance with rapidly changing State and local laws</li>
      <li>built relationships with landlords and property management companies</li>
    </ul>

    <h6>Day Trader</h6>
    <p>
      <em>Self-employed, Chicago, IL, 2001 &mdash; 2004</em>
    </p>
    <p>
      As a day trader, I generated my own income trading stock and option.
      On any given day, I executed trades, analyzed market data for
      alternative positioning, formulated long-term liquidity strategies
      and developed mitigation activities to hedge risk.
    </p>

    <h4>Education</h4>

    <h6>University of Michigan, Ann Arbor, Michigan</h6>
    <p>
      <em>Bachelor of Science, Economics, 1997 &mdash; 2001</em>
    </p>

    <h6>DeVry University</h6>
    <p>
      <em>Computer Information Systems, Web Development & Administration, 2011</em>
    </p>

    <h4>About me</h4>
    <p>
      I work with others in a way that's collaborative and feedback-oriented.
      I advocate a workplace culture that values ownership and productivity
      by developing effective work relationships, setting clear expectations
      and having everyone accountable for their responsibilities.
      I move fast and believe that done is better than perfect.
    </p>
    <p>
      I'm looking for a long-term opportunity, but am open to a short-term engagement to test the waters.
      If I can add value to your organization, I'm happy to start a conversation.
    </p>

  </div>

  <div class='small-1 large-2 columns'></div>

</div>

<br>
<br>
<br>
<br>
