<div class='row resume-page'>

  <div class='small-2 large-2 columns'>
  </div>

  <div class='small-8 small-offset-2 large-8 large-offset-2 columns'>

    <%= link_to root_path do %>
      <h1>Vincent Cabansag</h1>
    <% end %>

    <h5 class='subheader'>
      <p>
        I'm a developer, designer and entrepreneur who can execute and manage projects from beginning to end.
        My experience spans product development, education, compliance, business development, marketing, IT,
        and real estate. I know how to wear a lot of hats, and I'm good at it too.
      </p>
      <p>
        As of July 10, 2015, I'm looking for a growing company where I can add value, join a team for the
        long-haul and do my best work to date. My ideal outcome: lead a team in the role of a COO or CTO.
      </p>
    </h5>

    <h4>Contact me</h4>
    <ul class="no-bullet">
      <li>Email me at <%= mail_to 'vcabansag@gmail.com' %></li>
      <li>Call me (312) 404-4445</li>
      <li>Snail mail me at 1502 Laura Ave, Mount Pleasant, WI, 53406</li>
    </ul>

    <h4>Experience</h4>

    <h6>Chicago Apartment Finders</h6>
    <p>
      <em>Managing Broker, Chicago, IL, 2005 &mdash; 2011</em>
    </p>
    <p>
      Chicago Apartment Finders is apartment broker known for it's aggresive marketing and boutique service.
      I joined the company in it's third year and helped scale operations to new markets and locations.
      I streamlining processes, maintained our compliance with the State of Illinois, trained agents,
      and help establish best practices. As a managing broker, my day-to-day duties would include:
    </p>
    <ul class="push-1">
      <li>Training new agents on best practices, the MLS and digital marketing</li>
      <li>Coaching agents on contracts, negotations, prospecting and risk management</li>
      <li>Writing company policies to reduce liability and ensure compliance with changing laws</li>
      <li>Consulting on brokerage projects</li>
      <li>Managing payroll for sales commissions</li>
      <li>Building relationships with landlords and property management companies</li>
    </ul>
    <p>
      I also helped educate landlords on the pitfalls of the Chicago Landlords and Tenants Ordinance,
      one of the most tenant slanted ordinances in the country. I was part of several committess with
      the Chicago Association of REALTORS that drafted and distributed a compliant lease to over
      7,000 agents.
    </p>

    <h6>Chicago Apartment Finders</h6>
    <p>
      <em>Managing Broker, Chicago, IL, 2005 &mdash; 2011</em>
    </p>
    <p>
      Chicago Apartment Finders is apartment broker known for it's aggresive marketing and boutique service.
      I joined the company in it's third year and helped scale operations to new markets and locations.
      I streamlining processes, maintained our compliance with the State of Illinois, trained agents,
      and help establish best practices. As a managing broker, my day-to-day duties would include:
    </p>
    <ul class="push-1">
      <li>Training new agents on best practices, the MLS and digital marketing</li>
      <li>Coaching agents on contracts, negotations, prospecting and risk management</li>
      <li>Writing company policies to reduce liability and ensure compliance with changing laws</li>
      <li>Consulting on brokerage projects</li>
      <li>Managing payroll for sales commissions</li>
      <li>Building relationships with landlords and property management companies</li>
    </ul>
    <p>
      I also helped educate landlords on the pitfalls of the Chicago Landlords and Tenants Ordinance,
      one of the most tenant slanted ordinances in the country. I was part of several committess with
      the Chicago Association of REALTORS that drafted and distributed a compliant lease to over
      7,000 agents.
    </p>

    <h6>Trader, Self-Employed</h6>
    <p>
      <em>Options Trader, Chicago, IL, 2001 &mdash; 2004</em>
    </p>
    <ul class='push-1'>
      <li>Actively traded private capital for speculation and investment</li>
      <li>Concentrated on capital preservation to minimize loss and promote long-term growth</li>
      <li>Created short-term and long-term growth utilizing fundamental and technical analyses</li>
    </ul>

    <h4>Education</h4>

    <h6>University of Michigan, Ann Arbor, Michigan</h6>
    <p>
      <em>Bachelor of Science of Economics, 1997 &mdash; 2001</em>
    </p>

    <h6>DeVry University, Chicago, Illinois</h6>
    <p>
      <em>Computer Information Systems, Web Development &amp; Administration, 2011</em>
    </p>

    <h6>Licensed Real Estate Broker</h6>
    <p>
      <em>Licensed by the Illinois Department of Financial and Professional Regulation and in good standing</em>
    </p>

    <h4>Content Creation</h4>
    <ul class='push-1'>
      <li>Extensive graphic design skills with Adobe Illustrator and Adobe Photoshop</li>
      <li>Can create custom fillable forms with Adobe Acrobat and Adobe LiveCycle</li>
      <li>Produce sophisticated documents and presentation with Microsoft Word and Microsoft PowerPoint</li>
    </ul>

    <h4>Data and Programming</h4>
    <ul class='push-1'>
      <li>Highly proficient in Microsoft Excel spreadsheet creation, manipulation and complex calculations</li>
      <li>HTML programming language proficiency</li>
    </ul>

  </div>

  <div class='small-2 large-2 columns'></div>

</div>
