%p
  %h2= @post.title
%p
  %h6
    Posted on #{time_tag(@post.created_at, :format => '%B %d, %Y')}
- if @post.image.present?
  %p= image_tag @post.image.url(:medium)

.post_body
  %p= markdown(@post.body)
