<p><h2><%= @post.title %></h2></p>
<p><h7>Posted on <%= time_tag(@post.created_at, :format => '%B %d, %Y') %></h7></p>

<p><%= @post.body.html_safe %></p>

<p>
  <b>category:</b>
  <%= @post.category %>
</p>