<ul>
  <% @posts.each do |post| %>
    <li><%= link_to post.title, post %></li>
    <li><%= post.content %></li>
    <li><%= post.permalink %></li>
    <li><%= link_to 'edit', edit_post_path(post) %></li>
  <% end %>
</ul>
