/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= normalize
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */

a {
  text-decoration: none;
}

a:link, a:active, a:visited {
  color: #006887;
}

a:hover { color: #007ba1; }

h5 {
  font-size: 20px;
  margin: 0;
}

.container {
  width: 960px;
  margin: 0 auto;
}

#photo-header {
  margin-top: 40px;
  text-align: center;
}

#intro {
  margin-top: 22px;
}

.section {
  margin: 30px 0 30px 0;
}

.profile-photo {
  border-radius: 50%;
  width: 200px;
  vertical-align: middle;
  margin-right: 14px;
}

.small { width: 60px; }

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

hr {
  /*margin: 40px auto 40px auto;*/
  margin: 0 auto;
  width: 50%;
  border: 1px #444;
  text-align: center;
}
