/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= normalize
 *= require foundation_and_overrides
 *= require_self
 *= require_tree .
 */

a {
  text-decoration: none;
}

a:link, a:active, a:visited {
  color: #006887;
}

a:hover { color: #007ba1; }

h5 {
  margin: 0;
}

.greeting-small {
  margin-bottom: 30px;
  line-height: 1.3em;
}

.greeting-text-large {
  display: block;
  float: left;
  font-size: 1.5em;
  padding: 3px;
  line-height: 1.4em;
  margin-left: 14px;
  margin-bottom: 60px;
}

.latest {
  text-align: left;
  margin-bottom: 30px;
}

.about {
  text-align: left;
  margin-bottom: 30px;
}

.photo-header {
  margin-top: 40px;
  margin-bottom: 20px;
}

.profile-photo {
  border-radius: 50%;
  width: 200px;
  vertical-align: middle;
  margin-right: 10px;
}

.profile-photo-small {
  border-radius: 50%;
  width: 175px;
  vertical-align: middle;
  margin: 0 auto;
  display: block;
  margin-bottom: 10px;
}

.profile-photo-large {
  border-radius: 50%;
  width: 175px;
  vertical-align: top;
  margin-bottom: 10px;
  margin-right: 8px;
  display: block;
  float: left;
}

.medium { width: 120px; }
.small { width: 60px; }
.extra-small { width: 30px; }

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

hr {
  margin: 0 auto;
  width: 50%;
  border: 1px #444;
  text-align: center;
}
