.post-title {
  margin-bottom: 0;
}

.post-date {
  color: #333;
  margin-bottom: 12px;
}

p img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

textarea#post_content {
  height: 450px;
}
